# DATA SCIENCE SESSIONS VOL. 3
### A Foundational Python Data Science Course
## Tips'n'Tricks: Indexing sequential types

[&larr; Back to course webpage](https://datakolektiv.com/)

Feedback should be send to [goran.milovanovic@datakolektiv.com](mailto:goran.milovanovic@datakolektiv.com). 

These notebooks accompany the DATA SCIENCE SESSIONS VOL. 3 :: A Foundational Python Data Science Course.

![](../img/IntroRDataScience_NonTech-1.jpg)

### Lists

In [1]:
my_list = ['Belgrade', 'London', 'Paris', 'Moscow', 'Tokyo', 'Rome']
print(my_list)

['Belgrade', 'London', 'Paris', 'Moscow', 'Tokyo', 'Rome']

Grab the first element

In [2]:
my_list[0]

'Belgrade'

Grab the fourth element

Mind the fact that indexing in Python starts from zero!

In [3]:
my_list[3]

'Moscow'

In [4]:
print(my_list)

['Belgrade', 'London', 'Paris', 'Moscow', 'Tokyo', 'Rome']

Grab the last element

In [5]:
my_list[-1]

'Rome'

Grab the one but last

In [6]:
my_list[-2]

'Tokyo'

Lists are mutable

In [7]:
basket = ['bread', 'butter', 'milk']
print(basket)

['bread', 'butter', 'milk']

Change the first element

In [8]:
basket[0] = 'sugar'
print(basket)

['sugar', 'butter', 'milk']

Change the last element

In [9]:
basket[-1] = 'water'
print(basket)

['sugar', 'butter', 'water']

Remove the first element from `basket`

In [10]:
del basket[0]
print(basket)

['butter', 'water']

Create a new list `nums`

In [11]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Grab everything from third to sixth element

In [12]:
some_nums = nums[2:6]
print(some_nums)

[3, 4, 5, 6]

Everything from first to fourth element

In [13]:
nums[0:4]

[1, 2, 3, 4]

Everything from first to fifth element

In [14]:
nums[:5]

[1, 2, 3, 4, 5]

Three last elements

In [15]:
nums[-3:]

[7, 8, 9]

In [16]:
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Everything from fourth and to the end

In [17]:
nums[3:]

[4, 5, 6, 7, 8, 9]

Everything from fourth element and up to the last but one

In [18]:
nums[3:-1]

[4, 5, 6, 7, 8]

Everything from the beginning and up to the third element before the end

In [19]:
nums[:-2]

[1, 2, 3, 4, 5, 6, 7]

In [20]:
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Everything from the list with a step of 2

In [21]:
nums[::2]

[1, 3, 5, 7, 9]

Begin from the second element and run with step 2 until the end

In [22]:
nums[1::2]

[2, 4, 6, 8]

Everything from the beginning to the end with a step of 2

In [23]:
nums[0::2]

[1, 3, 5, 7, 9]

Everything from the second element and up to the fourth before the end, with a step of 2

In [24]:
nums[1:-3:2]

[2, 4, 6]

Compare:

In [25]:
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

List in reverse with a negative step

In [26]:
nums[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In reverse, everything beginning from the one but last

In [28]:
nums[-2::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

Every second element from the one but last, in reverse with -2

In [29]:
nums[-2::-2]

[8, 6, 4, 2]

Slicing a list

In [30]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(nums)
first_five = nums[0:5]
print(first_five)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]

In [31]:
first_five[0] = 100
print(first_five)
print(nums)

[100, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

Just `:` is the whole list:

In [32]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
sc_nums = nums[:]
print(sc_nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Define a slice with the `slice()` function

In [33]:
print(nums)
my_slice = slice(0, 5, 2)
nums[my_slice]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 3, 5]

Change a part of the list from a predefined slice

In [34]:
nums[my_slice] = ['x','y','z']
print(nums)

['x', 2, 'y', 4, 'z', 6, 7, 8, 9]

Replace a smaller sequence in a list with a larger one from a predefined slice

In [35]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
my_slice = slice(0, 2)
nums[my_slice] = ['p','q','r','x','y','z']
print(nums)

['p', 'q', 'r', 'x', 'y', 'z', 3, 4, 5, 6, 7, 8, 9]

Delete a part of a list from a predefined slice

In [36]:
del nums[my_slice]
print(nums)

['r', 'x', 'y', 'z', 3, 4, 5, 6, 7, 8, 9]

### Strings

This works exactly the same as for lists.

In [37]:
my_string = 'a quick brown fox jumps over the lazy dog'
print(my_string)

a quick brown fox jumps over the lazy dog

In [38]:
my_string[0]

'a'

In [39]:
my_string[-1]

'g'

In [40]:
my_string[:-2]

'a quick brown fox jumps over the lazy d'

In [41]:
my_string[0:-3:2]

'aqikbonfxjmsoe h ay'

In [42]:
my_string[::-1]

'god yzal eht revo spmuj xof nworb kciuq a'

In [43]:
my_slice = slice(0,3)
print(my_string[my_slice])

a q

Strings are **immutable**:

In [44]:
my_slice = slice(0,1)
print(my_string)
my_string[my_string] = "XY"
print(my_string)

a quick brown fox jumps over the lazy dog

TypeError: 'str' object does not support item assignment

In [45]:
print(my_string)
my_string[0] = "XY"

a quick brown fox jumps over the lazy dog

TypeError: 'str' object does not support item assignment