# DATA SCIENCE SESSIONS VOL. 3
### A Foundational Python Data Science Course
## Session 01b: Intro to Pandas DataFrame

[&larr; Back to course webpage](https://datakolektiv.com/)

Feedback should be send to [goran.milovanovic@datakolektiv.com](mailto:goran.milovanovic@datakolektiv.com). 

These notebooks accompany the DATA SCIENCE SESSIONS VOL. 3 :: A Foundational Python Data Science Course.

**00.** Import `pandas` and `os` modules.

In [8]:
## your code here ##

**01.** Using a dictionary create a data frame containing five rows and three columns. Then, using `.drop()` method drop the middle column.

In [1]:
## your code here ##

**02.** Using `zip()` function create a data frame containing three rows and five columns. Then, using data frame indexing, extract 2nd, 3rd and 4th column of a middle row.

In [2]:
## your code here ##

**03.** Load `MovieRatings.csv` dataset and save it as a `data_set` variable.

In [3]:
## your code here ##

**04.** From `data_set` create a data frame showing movies with their IMDB and Rotten Tomatoes rating.

In [4]:
## your code here ##

**05.** `.max()` is a method that you can use to find a maximal value for a given column. For example, `data_set['Metacritic'].max()` will give you the highest Metacritic movie rating. Using similar appropriate methods find:
- The lowest IMDB rating
- Average Rotten Tomatoes rating
- Median Fandango stars rating

In [5]:
## your code here ##

In [6]:
## your code here ##

In [7]:
## your code here ##

**06.** Plot a histogram of IMDB ratings.

In [9]:
## your code here ##

**07.** Use `.value_counts()` method on `'Fandango_Stars'` column, and see what happens:)

In [10]:
## your code here ##

**08.** Use `normalize=True` argument in the `.value_counts()` method on `'Fandango_Stars` column to obtain ratios of the previous result. Then plot the new result as a pie chart.

In [11]:
## your code here ##

In [12]:
## your code here ##

**09.** Using an appropriate method sort all the movies according to their IMDB ratings. Then, using a proper argument sort them in descending order.

In [13]:
## your code here ##

In [14]:
## your code here ##

**10.** Select all movies with Rotten Tomatoes rating of 100.

In [16]:
## your code here ##

**11.** Select all movies with Metacritic score lower than 20.

In [ ]:
## your code here ##

**12.** Select all movies with IMDB rating of 8 or higher.

In [15]:
## your code here ##

**13.** Using the following logical operators you can combine several logiacl conditions to extract the data based on those conditions:

- ~ NOT
- | OR
- & AND

For example, `data_set[(cond_1) & (cond_2)]` will extract the data meeting both conditions `cond_1` AND `cond_2`. Using these logical operators extract all movies:

- having not more than 3.5 Fandango Stars;
- having Rotten Tomatoes rating either greater than 90 or lower than 10;
- having Rotten Tomatoes score greater than 85, Metacritic score greater than 8.5 and an IMDB score greater than 8.5

In [17]:
## your code here ##

In [18]:
## your code here ##

In [19]:
## your code here ##

**14.** Plot a scatterplot showing the correlation between Metacritic and IMDB scores.

In [20]:
## your code here ##

**15.** Set the index of `data_set` as the `'FILM'` column and sort the index alphabetically.

In [21]:
## your code here ##

**16.** After setting the index, exctract few rows containing some of your group's favourite movies.

In [22]:
## your code here ##