# DATA SCIENCE SESSIONS VOL. 3
### A Foundational Python Data Science Course
## TaskList 10: SQL, Relational Databases and Pandas 

[&larr; Back to course webpage](https://datakolektiv.com/)

Feedback should be send to [goran.milovanovic@datakolektiv.com](mailto:goran.milovanovic@datakolektiv.com). 

These notebooks accompany the DATA SCIENCE SESSIONS VOL. 3 :: A Foundational Python Data Science Course.

![](../img/IntroRDataScience_NonTech-1.jpg)

### Lecturers

[Goran S. Milovanović, PhD, DataKolektiv, Chief Scientist & Owner](https://www.linkedin.com/in/gmilovanovic/)

[Aleksandar Cvetković, PhD, DataKolektiv, Consultant](https://www.linkedin.com/in/alegzndr/)

[Ilija Lazarević, MA, DataKolektiv, Consultant](https://www.linkedin.com/in/ilijalazarevic/)

![](../img/DK_Logo_100.png)

***

## On this TaskList

We have learned tons of new things in Session10 on how to handle a relational database (MariaDB, in our case) on our local machines, how to compose and send simple SQL queries, and how does Pandas accepts the results of SQL queries from a database. Here is a set of simple exercise to help not forget all that immediately. Remember: querying relational databases, acquiring the result and processing in your local Python o R enviroment through Pandas and other means to produce EDA reports, clean the data, prepare everything for modelling, and similar, comprises probably around 90% of working hours of an average Data Analyst/Scientist position. Even if that is not case, these skills are a definite must have.

### Setup

In [1]:
# system
import os
data_dir = os.path.join(os.getcwd(), "_data")
import warnings
warnings.filterwarnings("ignore")

# data
from sqlalchemy import create_engine
from sqlalchemy import text as sql_text

# compute
import numpy as np
import pandas as pd

# report
import matplotlib.pyplot as plt
import seaborn as sns

### Connect to MariaDB: an RDBS running on your local host

For reasons of clarity, we have kept the explanation of the `query_database()` function here. Please run the following code and again pay attention to each of the steps. It is of crucial importance that you understand how do we interface relational databases: remind yourselves of the concepts of the database connections, its opening, and the fact that you need to close a connection once you end the processing of a query that you have sent. All these steps are present in the `query_database()` function that we will be working with in this exercise.

In [2]:
CONNECTION_STRING = 'mysql+mysqlconnector://datakolektiv:datakolektiv123@localhost/nycflights'

The `CONNECTION_STRING` typically includes the following information:

- The **database driver**: The driver defines the type of database being used, such as MySQL, PostgreSQL, SQLite, etc.
- The **username and password**: These are the credentials that are required to connect to the database server.
- The **server address**: This is the hostname or IP address of the server where the database is located.
- The **port number**: This is the port number used by the database server to communicate with clients.
- The **database name**: This is the name of the database that you want to connect to.

Here's a breakdown of the components of this particular CONNECTION_STRING:

- `mysql+mysqlconnector`: This specifies the database driver to use, which is MySQL Connector/Python in this case.
- `datakolektiv:datakolektiv123`: These are the username and password, respectively, used to authenticate with the database.
- `localhost`: This is the server address where the database is located. In this case, it is the same machine where the Python code is running.
- `nycflights`: This is the name of the database to connect to.

Now we have to create an `Engine` object that will know how to speak with our database. It will give us ability to connect to our database and "speak" with it.

In [3]:
# MariaDB is a successor of the MySQL 
# and that is the reason why you will see
# we use mysql when connecting to the 
# database.
engine = create_engine(CONNECTION_STRING) # use this as is

Since there are couple of steps when "talking" with the database, we will hide them behing this helper function.

In [4]:
def query_database(query: str, chunked: bool = False) -> pd.DataFrame:
    conn = engine.connect()  # necessary to start querying the database
    chunk_size = 10_000 if chunked is True else None
    df = pd.read_sql_query(sql=sql_text(query), con=conn, chunksize=chunk_size)
    conn.close()  # necessary to say that you are finished with querying
    return df

Here is an overview of what the `query_database` functions does:

- `def query_database(query: str, chunked: bool = False) -> pd.DataFrame`: this is a function definition that takes two parameters, a SQL query string and a boolean flag indicating whether or not to read the results in chunks. It returns a Pandas DataFrame.
- `conn = engine.connect()`: establishes a connection to the database using the SQLAlchemy engine object engine.
- `chunk_size = 10_000 if chunked is True else None`: sets a chunk size for reading results from the database if chunked parameter is True, otherwise it sets chunk_size to None.
- `df = pd.read_sql_query(sql=sql_text(query), con=conn, chunksize=chunk_size)`: this line reads the results of the SQL query from the database into a Pandas DataFrame using the `pd.read_sql_query()` method. The `sql_text()` function from SQLAlchemy is used to convert the query parameter to an SQL expression.
- `conn.close()`: closes the connection to the database, indicating that the query is complete and resources can be released.
- `return df`: returns the resulting Pandas DataFrame containing the data retrieved from the database.

Test with a simple SQL query:

In [5]:
query_database('SELECT * FROM flights LIMIT 10')

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
5,2013,1,1,554.0,558,-4.0,740.0,728,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,58,2013-01-01 05:00:00
6,2013,1,1,555.0,600,-5.0,913.0,854,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,0,2013-01-01 06:00:00
7,2013,1,1,557.0,600,-3.0,709.0,723,-14.0,EV,5708,N829AS,LGA,IAD,53.0,229,6,0,2013-01-01 06:00:00
8,2013,1,1,557.0,600,-3.0,838.0,846,-8.0,B6,79,N593JB,JFK,MCO,140.0,944,6,0,2013-01-01 06:00:00
9,2013,1,1,558.0,600,-2.0,753.0,745,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,0,2013-01-01 06:00:00

**00.** Write a simple SQL query that will return the whole `weather` table and write it into a Pandas DataFrame `df_weather`. Show us the first 30 rows of `df_weather`.

In [6]:
### YOUR CODE HERE ###

**01.** Re-write a simple SQL query from **00** so that it now returns the whole `weather` table and write it into a Pandas DataFrame `df_weather` *sorted by `year`, `month`, `day`, and `hour`* **all and each in a descending order**. Show us the first 30 rows of `df_weather`.

In [7]:
### YOUR CODE HERE ###

**02.** Write a simple SQL query to compute the average wind speed per origin airport and month. Name your output columns: `airport`, `month`, and `avg_ws`. Produce a `df_weather_meanws` Pandas DataFrame and shows us the result.

In [8]:
### YOUR CODE HERE ###

**03.** Now `df_weather_meanws` DataFrame is obviously in the **long format**. Nice. Use Seaborn to visualize the average wind speed per airport, per mont: `avg_ws` goes on the vertical (Y) axes, `month` on the horizontal (X) axes, and use `facet.grid()` to place the data for each origin airport at a separate panel in the chart. Use `sns.lineplot()`.

In [9]:
### YOUR CODE HERE ###

**04.** Do exactly the same as we did in **02** and **03** but please take into account only wind speeds above 10 mph! Hint: `WHERE`.

In [10]:
### YOUR CODE HERE ###

**05.** Do exactly the same as we did in **02** but show only months with **average** wind speeds above 10 mph! Just display the resulting DataFrame. Hint: `HAVING`.

In [11]:
### YOUR CODE HERE ###

**06.** Display all distinct airports present in the `weather` table. Use SQL. Hint: `DISTINCT`. (You: "But we didn't use DISTINCT in the Session!"; Me: "Nothing easier, trust me.")

In [12]:
### YOUR CODE HERE ###

**07.** `LEFT JOIN` `planes` to `flights` and return to whole table to `df_flights` Pandas DataFrame. Select only the following fields: `flights.distance`, `planes.engines` and consider only flights in July. Where should the `WHERE` clause be put: before, or after `LEFT JOIN`? Use aliases: `f` for `flights` and `p` for `planes`. Take care not to include `p.engines` which are `NULL`.

In [13]:
### YOUR CODE HERE ###

**08.** Use Pandas to count the number of flights flown with different number of `engines` in `df_flights`.

In [14]:
### YOUR CODE HERE ###

**09.** Use Pandas to compute the average distance flew by planes with different `engines` in `df_flights`. Is there something strange about this result?

In [15]:
### YOUR CODE HERE ###

<hr>

DataKolektiv, 2022/23.

[hello@datakolektiv.com](mailto:goran.milovanovic@datakolektiv.com)

![](../img/DK_Logo_100.png)

<font size=1>License: [GPLv3](https://www.gnu.org/licenses/gpl-3.0.txt) This Notebook is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version. This Notebook is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details. You should have received a copy of the GNU General Public License along with this Notebook. If not, see http://www.gnu.org/licenses/.</font>